VITE_FIREBASE_API_KEY=AIzaSyCndlhaNz-pM8VtlabufNZUjn4tuAgD6zc
VITE_FIREBASE_AUTH_DOMAIN=admin-dashboard-20635.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=admin-dashboard-20635
VITE_FIREBASE_APP_ID=1:267334973940:web:b227627b4d0171ef58e1a1