@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html,
body {
  font-family: 'Inter', sans-serif;
} 

button:not(:disabled),
a[href],
[role='button']:not([aria-disabled='true']),
input[type='button']:not(:disabled),
input[type='submit']:not(:disabled),
input[type='reset']:not(:disabled) {
  cursor: pointer;
}

button:disabled,
input[type='button']:disabled,
input[type='submit']:disabled,
input[type='reset']:disabled,
[role='button'][aria-disabled='true'] {
  cursor: not-allowed;
}